distribute==0.6.36
httplib2==0.8
oauth2==1.5.211
python-twitter==1.0
pytz==2012h
requests==0.14.0
simplejson==3.3.0
stevedore==0.8
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
wsgiref==0.1.2
